@model HotelBooking_Web.Models.vw_DanhSachDatPhong
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h4>Check out</h4>
                </div>
                <form id="form-act">
                    <div class="card-body">

                        <!-- thông tin đặt phòng -->
                        <h5 class="mb-3">Thông tin đặt phòng</h5>
                        <div class="row mb-2">
                            <div class="col-6 label">Mã đặt phòng:</div>
                            <div class="col-6 text-value">@Model.DatPhongID</div>
                            <input type="hidden" id="txt_DatPhongID" name="txt_DatPhongID" value="@Model.DatPhongID">
                        </div>

                        <div class="row mb-2">
                            <div class="col-6 label">Ngày nhận phòng:</div>
                            <div class="col-6 text-value">@Model.NgayNhanPhong.ToString("MM/dd/yyyy")</div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-6 label">Ngày trả phòng:</div>
                            <div class="col-6 text-value">@Model.NgayNhanPhong.ToString("MM/dd/yyyy")</div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-6 label">Tổng tiền:</div>
                            <div class="col-6 text-value text-danger">@Model.TongTien</div>
                        </div>



                        <hr>

                        <!-- thông tin phòng -->
                        <h5 class="mb-3">Thông tin phòng</h5>
                        <div class="row mb-2">
                            <div class="col-6 label">Số phòng:</div>
                            <div class="col-6 text-value">@Model.SoPhong</div>
                        </div>
                        <hr>

                        <!-- thông tin khách đặt -->
                        <h5 class="mb-3">Thông tin khách đặt</h5>

                        <div class="row mb-2">
                            <div class="col-6 label">Mã tài khoản:</div>
                            <div class="col-6 text-value">@Model.MaTK</div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-6 label">Họ tên:</div>
                            <div class="col-6 text-value">@Model.HoTen</div>
                        </div>
                        <div class="col-md-12">
                            <label for="slc_PhuongThuc" class="form-label">chọn phương thức</label>
                            <select id="slc_PhuongThuc" name="slc_PhuongThuc" class="form-control">
                                <option value="TienMat">Tiền mặt</option>
                                <option value="ChuyenKhoan">Tài khoản</option>
                            </select>
                        </div>

                        
                        <div class="text-center mt-4">
                            <button type="button" id="btn_checkout" class="btn btn-primary">Check out</button>
                        </div>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>



<script>
    $("#btn_checkout").click(function () {
        var form = $('#form-act')[0];
        var formData = new FormData(form);
        console.log(formData)

        $.ajax({
            type: "POST",   
            data: formData,
            //data: JSON.stringify(lst),
            
            url: window.location.origin + '/Admin/QLDP/Checkout_Action',
            processData: false,
            contentType: false,
            cache: false,
            success: function (response) {
                console.log(response);

                var rs = JSON.parse(response);

                if (rs.ErrCode == 1) {
                    window.location.href = '/Admin/QLDP';
                    alert(rs.ErrDesc);
                }
                else {
                    alert(rs.ErrDesc);
                }
            },
            error: function (rs) {
                rs = "có lỗi trong quá trình checkout";
            }
        });
    });

</script>