@model PagedList.PagedList<HotelBooking_Web.Models.vw_DanhSachDatPhong>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6"><h3 class="mb-0">Danh sách đặt phòng</h3></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="~/admin">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Danh sách đặt phòng</li>
                </ol>
            </div>
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card">
                    <div class="card-header">

                        <div class="card-tools">
                            <a href="~/admin/QLDP/Checkin" class="btn btn-primary">Check in</a>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <label for="txt_query" class="form-label">Tìm kiếm</label>

                                    <div class="col-md-6 col-lg-6">
                                        <input type="text" class="form-control" id="txt_query" name="txt_query" />
                                    </div>

                                    <div class="row col-md-6">
                                        <select id="slc_Status" name="slc_Status" class="form-control">
                                            <option value="">--Chọn trạng thái--</option>
                                            <option value="">All</option>
                                            <option value="Pending">Pending</option>
                                            <option value="Checkin">Checkin</option>
                                            <option value="Checkout">Checkout</option>

                                        </select>

                                    </div>

                                </div>
                                <div class=" col-md-2 col-lg-3">
                                    <button type="button" id="btn_timkiem" class="btn btn-primary">Tìm kiếm</button>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã đặt phòng</th>
                                    <th>Mã khách hàng</th>
                                    <th>Mã phòng</th>
                                    <th>Ngày nhận phòng</th>
                                    <th>Ngày trả phòng</th>
                                    <th>Trạng thái</th>
                                    <th>Thao Tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    var i = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.DatPhongID</td>
                                            <td>@item.MaTK</td>
                                            <td>@item.SoPhong</td>
                                            <td>@item.NgayNhanPhong.ToString("dd/MM/yyy")</td>
                                            <td>@item.NgayTraPhong.ToString("dd/MM/yyy")</td>
                                            <td>@item.TrangThai</td>
                                            <td>
                                                <a href="/admin/QLDP/Detail/@item.DatPhongID" class="btn btn-sm btn-primary">Xem chi tiết</a>
                                                @if (item.TrangThai == "Pending")
                                                {
                                                    <a href="/admin/QLDP/Checkin_Comf?DatPhongID=@item.DatPhongID" style="background-color:green" class="btn btn-sm btn-primary">Check in</a>
                                                }
                                                @if (item.TrangThai == "Checkin")
                                                {
                                                    <a href="/admin/QLDP/Checkout/@item.DatPhongID" style="background-color:orangered" class="btn btn-sm btn-primary">Check out</a>
                                                }

                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td align="center">Không có bản ghi nào</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-5"></div>
                            <div class="col-7">
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer"></div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!--end::Row-->
    </div>
</div>



<script>
        $("#btn_timkiem").click(function () {
            var query = $("#txt_query").val();
            var status = $("#slc_Status").val();
            
            window.location.href = "/Admin/QLDP/Index?query=" + encodeURIComponent(query)+"&status="+ encodeURIComponent(status);
        });
</script>


@*<script>
    $('input[name="txt_Status"]').change(function () {

        var status = $('input[name="txt_Status"]:checked').val();
        console.log(status)
        window.location.href = "/Admin/QLDP/Index?status=" + encodeURIComponent(status);

    });

</script>*@