@model PagedList.PagedList<HotelBooking_Web.Models.vw_DanhSachDatPhong>
@using PagedList.Mvc;
@using PagedList;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6"><h3 class="mb-0">Danh sách phòng</h3></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="~/admin">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Danh sách phòng</li>
                </ol>
            </div>
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->
</div>
<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-12">
                <!-- Default box -->
                <div class="card">
                    <div class="card-header">

                        <div class="card-tools">
                            <a href="../admin/QLPhong/Them" class="btn btn-primary">Thêm phòng</a>
                        </div>

                        <div class="row ">
                            <label for="txt_query" class="form-label">Tìm kiếm</label>
                            <div class=" col-md-4 col-lg-4">
                                <input type="text" class="form-control" id="txt_query" name="txt_query" />
                            </div>
                            <div class=" col-md-4 col-lg-2">
                                <button type="button" id="btn_timkiem" class="btn btn-primary">Tìm kiếm</button>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Mã đặt phòng</th>
                                    <th>Mã khách hàng</th>
                                    <th>Mã phòng</th>
                                    <th>Ngày nhận phòng</th>
                                    <th>Ngày trả phòng</th>
                                    <th>Trạng thái</th>
                                    <th>Thao Tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    var i = 1;
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.DatPhongID</td>
                                            <td>@item.MaTK</td>
                                            <td>@item.SoPhong</td>
                                            <td>@item.NgayNhanPhong</td>
                                            <td>@item.NgayTraPhong</td>
                                            <td>@item.TrangThai</td>
                                            <td>
                                                <a href="/admin/QLDP/Detail/@item.DatPhongID" class="btn btn-sm btn-primary">Xem chi tiết</a>
                                                @if (item.TrangThai == "Pending")
                                                {
                                                    <a href="/admin/QLDP/Checkin/@item.DatPhongID" class="btn btn-sm btn-primary">Check in</a>
                                                }
                                                @if (item.TrangThai == "checkin")
                                                {
                                                    <a href="/admin/QLDP/Checkout/@item.DatPhongID" class="btn btn-sm btn-primary">Check out</a>
                                                }

                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td align="center">Không có bản ghi nào</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-5"></div>
                            <div class="col-7">
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer"></div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!--end::Row-->
    </div>
</div>



@*<script>
    $("#btn_timkiem").click(function () {
        var query = $("#txt_query").val();

        alert(query)
        window.location.href = "/Admin/QLPhong/Index?query=" + encodeURIComponent(query);
    });
</script>*@